<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#reportes">{{"_reportes_"|trans}}</a></li>
    <li><a href="#plantillas">{{"_plantillas_"|trans}}</a></li>
    <li><a href="#social">{{"_social_"|trans}}</a></li>
</ul>
